  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .bigc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #565556;
    width: 100vw;
    height: 100vh;
  }

  img{
    width: 250px;
    height: 300px;
  }

  button{
    display: inline-block;
    background-color: orangered;
    color: white;
    font-family: 'Kanit';
    padding: 8px;
    box-shadow: 2px 2px 2px black;
  }

  button:hover{
    transform: scale(0.8);
    box-shadow: 1px 1px 1px black;
  }

  h2{
    color: white;
    font-family: 'Josefin';
    margin-bottom: 50px;
  }